.main-layout {
    height: 100vh;
}

.sider {
    padding: 1rem;
    border-right: 1px solid #CCC;
}

.header {
    border-bottom: 1px solid #CCC; 
}

.content {
    padding: 2rem;
}

.footer {
    border-top: 1px solid #CCC; 
}